# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [12]:
import numpy as np
import pandas as pd
import math
import requests
import xlsxwriter

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [13]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Instead of an API IEX cloud we will use csv file (fake_data).. coz api is paid

In [14]:
df = pd.read_csv('sp500_fake_data.csv')
symbol=df['Company']
prices = df['Price']
market_caps = df['Market Cap']
print("Symbol:")
print(symbol.head(10))
print("Prices:")
print(prices.head(10))
print("\nMarket Caps:")
print(market_caps.head(10))

Symbol:
0       A
1     AAL
2     AAP
3    AAPL
4    ABBV
5     ABC
6    ABMD
7     ABT
8     ACN
9    ADBE
Name: Company, dtype: object
Prices:
0    1418.35
1     195.53
2    1461.37
3     368.47
4    1653.03
5     774.79
6     430.09
7    1677.48
8    1704.06
9    1915.57
Name: Price, dtype: float64

Market Caps:
0    606888599201
1    467755207509
2    283608642792
3    988549326361
4    929340018666
5    441689688076
6    323488736003
7    673380428347
8    251966697723
9    833151316505
Name: Market Cap, dtype: int64

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [15]:
my_col=['Ticker', 'Stock Price', 'Market Captaliazation', 'Number of stocks to buy']
final_dataframe=pd.DataFrame(columns=my_col)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Captaliazation, Number of stocks to buy]
Index: []

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [16]:
df = pd.read_csv('sp500_fake_data.csv')

# Define columns for the final DataFrame
my_col = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of stocks to buy']
final_dataframe = pd.DataFrame(columns=my_col)

# Append data to the final DataFrame
for i in range(len(df)):
    new_row = pd.Series({
        'Ticker': df.at[i, 'Company'],
        'Stock Price': df.at[i, 'Price'],
        'Market Capitalization': df.at[i, 'Market Cap'],
        'Number of stocks to buy': 'N/A'
    })
    final_dataframe = pd.concat([final_dataframe, new_row.to_frame().T], ignore_index=True)

# Save the final DataFrame to a new CSV file
final_dataframe.to_csv('final_sp500_data.csv', index=False)

# Display the final DataFrame
print(final_dataframe)

    Ticker Stock Price Market Capitalization Number of stocks to buy
0        A     1418.35          606888599201                     N/A
1      AAL      195.53          467755207509                     N/A
2      AAP     1461.37          283608642792                     N/A
3     AAPL      368.47          988549326361                     N/A
4     ABBV     1653.03          929340018666                     N/A
..     ...         ...                   ...                     ...
500    YUM      694.43          929199903354                     N/A
501    ZBH     1305.76          357544970787                     N/A
502   ZBRA      764.74          924281359678                     N/A
503   ZION      346.01          350744021598                     N/A
504    ZTS     1932.16          780046530676                     N/A

[505 rows x 4 columns]

## Using Batch API Calls stimulation hrough dummy stock csv to Improve Performance

The provided Python script demonstrates how to process randomly generated stock data from a CSV file (dummy_stock_data.csv) and transform it into a structured format using Pandas.

In [17]:
df = pd.read_csv('dummy_stock_data.csv')

# Define columns for the final DataFrame
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of stocks to buy']
final_dataframe = pd.DataFrame(columns=my_columns)

def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

symbol_groups = list(chunks(df['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))

for symbol_string in symbol_strings:
    for symbol in symbol_string.split(','):
        row = df[df['Ticker'] == symbol].iloc[0]
        new_row = pd.DataFrame(
            {
                'Ticker': [symbol],
                'Stock Price': [row['Price']],
                'Market Capitalization': [row['Market Cap']],
                'Number of stocks to buy': ['N/A']
            }
        )
        final_dataframe = pd.concat([final_dataframe, new_row], ignore_index=True)

# Save the final DataFrame to a new CSV file
final_dataframe.to_csv('final_sp500_data.csv', index=False)

# Display the final DataFrame
print(final_dataframe)

/var/folders/kp/h41tpkfx20bf_t__gy8q3vj40000gn/T/ipykernel_32289/3061985838.py:28: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = pd.concat([final_dataframe, new_row], ignore_index=True)

    Ticker  Stock Price Market Capitalization Number of stocks to buy
0        A      1288.13         7560476087596                     N/A
1      AAL      1097.18         3497996324464                     N/A
2      AAP       351.48         6622511641049                     N/A
3     AAPL      1170.01         2105097763233                     N/A
4     ABBV       339.20         1883677500072                     N/A
..     ...          ...                   ...                     ...
500    YUM      1348.29         9024683201526                     N/A
501    ZBH       708.99         3762273494851                     N/A
502   ZBRA      1013.18         2757598515997                     N/A
503   ZION       951.09         5201537030333                     N/A
504    ZTS       269.35         1501582174835                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [18]:
portfolio_size = input("Enter the value of your portfolio:")

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")

Enter the value of your portfolio: 10000000

In [19]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])-1):
    final_dataframe.loc[i, 'Number Of stocks to buy'] = math.floor(position_size / final_dataframe['Stock Price'][i])
final_dataframe

,Ticker,Stock Price,Market Capitalization,Number of stocks to buy,Number Of stocks to buy
0,A,1288.13,7560476087596,N/A,15.0
1,AAL,1097.18,3497996324464,N/A,18.0
2,AAP,351.48,6622511641049,N/A,56.0
3,AAPL,1170.01,2105097763233,N/A,16.0
4,ABBV,339.20,1883677500072,N/A,58.0
...,...,...,...,...,...
500,YUM,1348.29,9024683201526,N/A,14.0
501,ZBH,708.99,3762273494851,N/A,27.0
502,ZBRA,1013.18,2757598515997,N/A,19.0
503,ZION,951.09,5201537030333,N/A,20.0
504,ZTS,269.35,1501582174835,N/A,NaN

## Formatting Our Excel Output

In [20]:
output_excel_path = 'recommended_trades_new.xlsx'
with pd.ExcelWriter(output_excel_path, engine='xlsxwriter') as writer:
    final_dataframe.to_excel(writer, sheet_name='Recommended Trades', index=False)

    # Define formats
    background_color = '#0a0a23'
    font_color = '#ffffff'

    string_format = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

    dollar_format = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

    integer_format = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

    # Apply formats to columns
    writer.sheets['Recommended Trades'].set_column('A:A', 20, string_format)
    writer.sheets['Recommended Trades'].set_column('B:B', 20, dollar_format)
    writer.sheets['Recommended Trades'].set_column('C:C', 20, dollar_format)
    writer.sheets['Recommended Trades'].set_column('D:D', 20, integer_format)

    # Write headers with formatting
    for col_num, value in enumerate(my_columns):
        writer.sheets['Recommended Trades'].write(0, col_num, value, string_format)

# No need to call writer.save() explicitly when using the with statement